{% extends 'layout.html' %}
{% block content %}
    {% for post in posts %}
        <article class="d-flex content-section">
            <div class="flex-shrink-0">
                <image class="rounded article-img" src="{{ url_for('static', filename='img/' + post.author.image_file) }}"></image>
            </div>
            <div class="flex-grow-1 ms-3">
                <div class="article-metadata">
                    <a href="#" class="me-2 text-decoration-none">{{ post.author.username }}</a>
                    <small class="text-body-secondary">{{ post.date_posted.strftime('%b %d, %Y') }}</small>
                </div>
                <h2><a href="{{ url_for('post', post_id=post.id) }}" class="article-title text-decoration-none">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
